  /*TODO: hide scrollbars on animation?*/


#visualFeedback {
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: none;
  /* animation setttings*/
  animation: slide-out-anim 6s ease-out forwards;
  transform: scale(0%) rotate(180deg);
  animation-fill-mode: forwards;
  animation-name: first, second, third;
  animation-delay: 0s, 0.2s, 0.75s, 0s;
  animation-duration: 0.2s, 0.4s, 0.1s;
  animation-timing-function: ease-out;
  overflow:hidden   /*bandaid fix to hide scrollbar*/

}

#visualFeedback {
  display: none;
  overflow:hidden
}

#visualFeedback.visible {
  display: flex;
  overflow:hidden
}

#visualFeedback img {
  display: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100px;
  max-width: 100%;
  overflow:hidden
}

/* animation keyframe settings*/
@keyframes first {
    to {
        transform: scale(85%) rotate(20deg);
        
    }
}

@keyframes second {
    to {
        transform: scale(100%) rotate(0deg);
    }
}

@keyframes third {
    to {
        transform: scale(0%) rotate(0deg);
    }
}
